@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './styles/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, sans-serif; //Lato
}

.appContainer {
  height: 100vh;
}

.mainContainer {
  background-color: $primaryBackground;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $secondaryForeground;
}
