@import '../../styles/variables.scss';

.metric {
  text-align: center;
  padding-top: 40px;
  font-size: 72px;
  color: $primaryForeground;
}

.metricText {
  text-align: center;
  padding-top: 39px;
  font-size: 30px;
  color: $primaryForeground;
}
