.sidebarContainer {
  background-color: #060b26;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
}

.app-logo {
  margin-left: 1.29rem;
  padding-top: 10px;
  color:  #f5f5f5;
  font-size: 2.6rem;
  background: none;
  z-index: 6;
}

.app-logo:hover {
  color: #1a83ff;
}

.icon {
  margin-top: 3rem;
}


.sidebar-icon-container {
  display: flex;
  background-color: #060b26;
  color: #f5f5f5;
  width: 80px;
  height: 100vh;
  padding-right: 8px;
  padding-bottom: 100px;
  justify-content: center; 
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 5;
}


.sidebar-menu-icons {
 list-style: none;
 color: #f5f5f5;
}

.sidebar-menu {
  background-color: #060b26;
  width: 240px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
  position: fixed;
  top: 0px;
  left: -100%;
  transition: 850ms;
  z-index: 4;
}

.sidebar-menu.active {
  left: 50px;
  transition: 350ms;
}

.sidebar-text {
  display: flex;
  justify-content: space-around;
  padding: 40px 5px 8px 2px;
  list-style: none;
  height: 60px;
  margin-top: 1.499rem;
  margin-bottom: 2rem;
  margin-right: 20px;
}

.sidebar-icon {
  display: flex;
  /* text-decoration: none; */
  justify-content: space-around;
  padding: 40px 0px 8px 2px;
  /* list-style: none; */
  height: 60px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: white;
}



.sidebar-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 0px;
  border-radius: 4px;
}

.sidebar-text a:hover {
  color: #1a83ff;;
}

.icon:hover {
  color: #1a83ff;
}

.sidebar-menu-items {
  width: 65%;;
}

.sidebar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  font-size: 2rem;
}

///////


// .dashboardHeader {
//   background-color: #060b26; //my color: #060b26
//   padding: 5px;
//   height: 80px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
  
// }

// .sidebarContainer {
//   display: flex;
//   background-color: #060b26;
//   justify-content: center;
//   align-items: top;
//   padding-top: 23px;
//   padding-right: 5px;
//   padding-left: 1px;;
// }

// .app-logo {
//   display: flex;
//   color: rgba(60,207,207,1);
//   background-color: #060b26;
//   margin-left: .7rem;
//   font-size: 2.5rem;
//   position: fixed;
//   // background: none;

// }

// .sidebar-menu {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   position: fixed;  
//   top: 65px;
//   left: -100%;
//   transition: 850ms;
// }

// .sidebar-menu.active {
//   left: 0;
//   transition: 350ms;
// }

// .sidebar-text {
//   display: flex;
//   justify-content: start;
//   align-items: center;
//   align-content: space-between;
//   padding: 25px 0px 8px 4px;
//   list-style: none;
//   height: 60px;
// }

// .sidebar-text a {
//   text-decoration: none;
//   color: rgb(229, 231, 238); //#fff
//   font-size: 18px;
//   width: 95%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   padding: 0px 16px 0px;
//   border-radius: 4px;
// }

// .sidebar-text a:hover {
//   color: rgba(60,207,207,1);
// }

// .sidebar-menu-items {
//   // margin-top: 20px;
//   display: grid;
//   height: 100vh;
//   width: 20px;
//   padding-top: 19px;
//   background-color: none;
// }

// .sidebar-toggle {
//   background-color: rgba(54,73,152,1);
//   width: 100%;
//   height: 80px;
//   display: flex;
//   justify-content: start;
//   align-items: center;
// }

// .side-icon {
//   background-color: #060b26;
//   color: rgba(60,207,207,1);
//   margin-right: 20px;
//   font-size: 2rem;
// }

// .side-text {
//   margin-left: 16px;
// }