@import '../../styles/variables.scss';

.sidebarContainer {
  background-color: $secondaryBackground;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
}

.app-logo {
  margin-left: 1.29rem;
  padding-top: 10px;
  color: #f5f5f5;
  font-size: 2.6rem;
  background: none;
  z-index: 6;
}

.icon {
  margin-top: 3rem;
  color: $primaryForeground;
}

.icon:hover {
  color: darken($primaryForeground, 10%);
}

.sidebar-icon-container {
  display: flex;
  background-color: #060b26;
  color: $primaryForeground;
  width: 80px;
  height: 100vh;
  padding-right: 8px;
  padding-bottom: 100px;
  justify-content: center;
  // align-items: center;
  position: fixed;
  top: 0px;
  z-index: 5;
  padding-top: 100px;
}

.sidebar-menu-icons {
  list-style: none;
  color: #f5f5f5;
}

.sidebar-menu {
  background-color: #060b26;
  width: 280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  padding-bottom: 90px;
  position: fixed;
  top: 0px;
  left: -100%;
  transition: 850ms;
  z-index: 4;
  padding-top: 100px;
}

.sidebar-menu.active {
  left: 50px;
  transition: 350ms;
}

.sidebar-text {
  display: flex;
  justify-content: space-around;
  padding: 40px 5px 8px 2px;
  list-style: none;
  height: 60px;
  margin-top: 1.499rem;
  margin-bottom: 2rem;
  margin-right: 20px;
}

.sidebar-icon {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px 8px 2px;
  height: 60px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: white;
}

.sidebar-text a {
  text-decoration: none;
  color: $primaryForeground;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 0px;
  border-radius: 4px;
}

.sidebar-text a:hover {
  // color: darken($primaryForeground, 10%);
  color: white;
}

.sidebar-menu-items {
  width: 65%;
}

.sidebar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  font-size: 2rem;
}
